cookie.txt
Scripts/__pycache__
1
cookies.js
Scripts/node_modules
package-lock.json
package.json
launch.json
Jkn.py
Jknv2.py
main.py
tes.py
tess.py
Scripts/TesRanap.py
TesFolder
main.py
AutoDownloaderVedikaPDF.zip
HtmlResponse.txt
output/
credentials.json
Email.py
oAuth2.py
token.json
Scripts/sender.py
Scripts/TesRanap.py
Scripts/sound.py
Develope