cookie.txt
Scripts/__pycache__
1
cookies.js
Scripts/node_modules
package-lock.json
package.json
launch.json
Jkn.py
Jknv2.py
tes.py
tess.py
Scripts/TesRanap.py
TesFolder
AutoDownloaderVedikaPDF.zip
HtmlResponse.txt
output/
credentials.json
Email.py
oAuth2.py
token.json
Scripts/sender.py
Scripts/TesRanap.py
Scripts/sound.py
Develope
run/
main/
run.py
__pycache__/config_loader.cpython-38.pyc
composer.lock
composer.json
generate_pdf.php
vendor/
AutoDownloaderVedikaPDFf.zip
AutoDownloaderVedikaPD12F.zip